h1{
    color: aquamarine;
    background-color: black;
}
h2{
    color: blue;
}
button{
    color: mediumseagreen;
    background-color: darkslategrey;
}
p{
    background-color: coral;
    color: cornflowerblue;
}
body{
    background-color: gold;
}